@media (max-width: 1500px) {
  .contacts {
    padding: 110px 0 0;
  }
  .contacts__content {
    width: 45.5%;
    margin-left: 0;
  }
  .contacts__content .map__contacts {
    padding: 50px 60px 130px 45px;
  }
}
@media (max-width: 1300px) {
  .header__nav {
    display: none;
  }
  .header .burger-menu {
    display: block;
  }
}
@media (max-width: 1200px) {
  .h1 {
    font-size: 54px;
  }
  .h2 {
    font-size: 36px;
  }
  .h3 {
    font-size: 28px;
  }
  .btn {
    padding: 16px 30px;
  }
  .sm-btn {
    padding: 8px 30px;
  }
}
@media (max-width: 1200px) and (max-width: 1500px) {
  .logo svg {
    width: 110px;
  }
}
@media (max-width: 1200px) {
  .intro {
    padding-top: 200px;
    background-position: 200px !important;
  }
  .intro.services-page {
    padding: 160px 45px 60px;
  }
  .intro.services-page .intro__links {
    gap: 20px 50px;
  }
  .intro.about-page {
    padding: 250px 45px 60px;
  }
  .intro.about-page .intro__links {
    gap: 20px 50px;
  }
  .intro__content {
    width: 65%;
  }
  .intro__subtitle {
    font-size: 22px;
  }
  .intro__filter_title {
    font-size: 24px;
  }
  .intro__filter_select {
    font-size: 16px;
    padding: 14px 0;
  }
}
@media (max-width: 1200px) {
  .services {
    padding: 120px 45px 110px;
  }
  .services__top {
    padding: 120px 45px 300px;
    margin-top: -120px;
  }
  .services__bottom {
    padding: 300px 45px 10px;
  }
  .services__subtitle {
    margin-top: 90px;
  }
  .services__promo {
    left: 0;
  }
  .services__promo_card {
    left: 0;
  }
  .services__promo_card-content {
    padding: 60px 80px;
  }
  .services__promo-title {
    max-width: 50%;
    margin-top: 0;
  }
}
@media (max-width: 1200px) {
  .promotion {
    padding: 150px 45px 50px;
  }
  .promotion__title_slider {
    padding: 10px 0 18px;
  }
  .promotion__title_slide {
    font-size: 48px;
  }
  .promotion__card_content {
    padding: 40px 35px;
  }
  .promotion__card_date {
    padding: 10px 20px;
  }
  .promotion__card_desc .h3 {
    max-width: 90%;
  }
  .promotion__card_desc p {
    max-width: 65%;
  }
}
@media (max-width: 1200px) {
  .recall__img img {
    height: 120%;
    right: 5.4945054945%;
  }
  .recall__form {
    padding: 60px 50px;
  }
}
@media (max-width: 1200px) {
  .reviews__content {
    width: 75%;
    margin-left: 65px;
  }
}
@media (max-width: 1200px) {
  .team__content {
    width: 75%;
    margin-left: 80px;
  }
}
@media (max-width: 1200px) {
  .map__contacts {
    padding: 60px 65px 50px;
  }
  .map__contacts_addr-text {
    font-size: 22px;
  }
}
@media (max-width: 1200px) {
  .feedback {
    padding: 50px 45px;
  }
  .feedback__promo {
    margin-left: 40px;
  }
  .feedback__recall {
    margin-left: 30px;
  }
  .feedback__scls {
    margin-left: auto;
  }
}
@media (max-width: 1200px) {
  .when {
    padding: 110px 45px 100px;
  }
  .when__list {
    margin-top: 150px;
  }
}
@media (max-width: 1200px) {
  .stages {
    padding: 90px 45px;
  }
  .stages__list {
    gap: 30px;
  }
  .stages__item_content {
    padding: 40px 25px;
  }
  .stages__item_text {
    font-size: 18px;
    margin-top: 120px;
  }
}
@media (max-width: 1200px) {
  .which {
    padding: 90px 45px;
  }
}
@media (max-width: 1200px) {
  .price {
    padding: 80px 45px 90px;
  }
  .price__list {
    width: 65%;
  }
}
@media (max-width: 1200px) {
  .about {
    padding: 160px 45px 70px;
  }
  .about__content {
    gap: 50px;
  }
  .about__desc {
    width: 66%;
  }
}
@media (max-width: 1200px) {
  .advs {
    padding: 120px 45px 100px;
  }
  .advs__models {
    margin-bottom: 80px;
  }
  .advs__models_tab {
    font-size: 18px;
  }
  .advs .when__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 20px;
  }
  .advs .when__item {
    width: 33%;
  }
  .advs__img {
    min-width: 250px;
    height: 250px;
  }
  .advs .text {
    width: 80%;
  }
}
@media (max-width: 1200px) {
  .examples {
    padding: 100px 45px 90px;
  }
}
@media (max-width: 1200px) {
  .contacts__content .map__contacts {
    padding: 50px 40px 130px 45px;
  }
}
@media (max-width: 1200px) {
  .news, .reviews-inner {
    padding: 160px 45px 75px;
  }
}
@media (max-width: 1200px) {
  .news-detail {
    padding: 160px 45px 90px;
  }
}
@media (max-width: 1200px) {
  .more-news {
    padding: 80px 45px 90px;
  }
}
@media (max-width: 1200px) {
  .works {
    padding: 90px 45px;
  }
}
@media (max-width: 1200px) {
  .footer {
    padding: 80px 45px;
  }
  .footer__menu_col {
    padding-right: 10px;
  }
  .footer__menu_list {
    max-height: 280px;
  }
  .footer__menu_item {
    margin-bottom: 7px;
  }
}
@media (max-width: 1200px) {
  .copyrait {
    padding: 30px 45px 35px;
  }
}