@media (max-width: 1300px) {
  .header__nav {
    display: none;
  }
  .header .burger-menu {
    display: block;
  }
}
@media (max-width: 1200px) {
  .h1 {
    font-size: 54px;
  }
  .h2 {
    font-size: 36px;
  }
  .h3 {
    font-size: 28px;
  }
  .btn {
    padding: 16px 30px;
  }
  .sm-btn {
    padding: 8px 30px;
  }
}
@media (max-width: 1200px) and (max-width: 1500px) {
  .logo svg {
    width: 110px;
  }
}
@media (max-width: 1200px) {
  .intro {
    padding-top: 200px;
    background-position: 200px !important;
  }
  .intro__content {
    width: 65%;
  }
  .intro__subtitle {
    font-size: 22px;
  }
  .intro__filter_title {
    font-size: 24px;
  }
  .intro__filter_select {
    font-size: 16px;
    padding: 14px 0;
  }
}
@media (max-width: 1200px) {
  .services__top {
    padding: 120px 45px 300px;
  }
  .services__bottom {
    padding: 300px 45px 110px;
  }
  .services__subtitle {
    margin-top: 90px;
  }
  .services__promo_card-content {
    padding: 60px 80px;
  }
  .services__promo_card-title {
    max-width: 50%;
    margin-top: 0;
  }
}
@media (max-width: 1200px) {
  .promotion {
    padding: 150px 45px 50px;
  }
  .promotion__title_slider {
    padding: 10px 0 18px;
  }
  .promotion__title_slide {
    font-size: 48px;
  }
  .promotion__card_content {
    padding: 40px 35px;
  }
  .promotion__card_date {
    padding: 10px 20px;
  }
  .promotion__card_desc .h3 {
    max-width: 90%;
  }
  .promotion__card_desc p {
    max-width: 65%;
  }
}
@media (max-width: 1200px) {
  .recall__img img {
    height: 120%;
    right: 5.4945054945%;
  }
  .recall__form {
    padding: 60px 50px;
  }
}
@media (max-width: 1200px) {
  .reviews__content {
    width: 75%;
    margin-left: 30px;
  }
}
@media (max-width: 1200px) {
  .team__content {
    width: 75%;
    margin-left: 30px;
  }
}
@media (max-width: 1200px) {
  .map__contacts {
    padding: 60px 65px 50px;
  }
  .map__contacts_addr-text {
    font-size: 22px;
  }
}
@media (max-width: 1200px) {
  .feedback {
    padding: 50px 45px;
  }
  .feedback__promo {
    margin-left: 40px;
  }
  .feedback__recall {
    margin-left: 30px;
  }
  .feedback__scls {
    margin-left: auto;
  }
}
@media (max-width: 1200px) {
  .footer {
    padding: 80px 45px;
  }
  .footer__menu_col {
    padding-right: 10px;
  }
  .footer__menu_list {
    max-height: 280px;
  }
  .footer__menu_item {
    margin-bottom: 7px;
  }
}
@media (max-width: 1200px) {
  .copyrait {
    padding: 30px 45px 35px;
  }
}