@media (max-width: 550px) {
  .header {
    padding: 20px 20px;
  }
  .header__logo svg {
    width: 80px;
  }
  .header__phone-icon svg {
    width: 22px;
    height: 22px;
  }
  .header__search {
    display: none;
  }
  .header .burger-menu svg {
    width: 30px;
  }
  .h1 {
    font-size: 30px;
  }
  .h2 {
    font-size: 22px;
  }
  .sm-btn {
    padding: 7px 10px;
    font-size: 14px;
  }
  .intro {
    padding: 150px 20px 50px;
  }
  .intro.services-page {
    padding: 120px 20px 50px;
  }
  .intro.services-page .intro__recall {
    margin-top: 35px;
  }
  .intro.services-page .intro__links {
    gap: 12px 30px;
  }
  .intro.services-page .intro__link {
    gap: 8px;
    font-size: 14px;
  }
  .intro.services-page .intro__link_arr {
    width: 26px;
    height: 26px;
  }
  .intro.services-page .intro__link_arr svg {
    width: 14px;
    height: 16px;
  }
  .intro__subtitle {
    font-size: 16px;
  }
  .intro__subtitle img {
    width: 26px;
  }
  .intro__filter_title {
    font-size: 16px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .intro__filter_form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 30px;
  }
  .intro__filter_form .col {
    width: 100%;
  }
  .intro__tagline {
    margin-top: 30px;
  }
  .services {
    padding: 40px 20px 40px;
  }
  .services__top {
    padding: 40px 20px 180px;
    margin: -40px -20px 0;
  }
  .services__bottom {
    padding: 180px 0px 0px;
  }
  .services__promo_card {
    width: 100%;
  }
  .services__promo_card-content {
    padding: 20px 30px;
  }
  .services__promo_card-title {
    font-size: 22px;
  }
  .services__more {
    display: none;
  }
  .services__items {
    margin-top: 30px;
    gap: 12px 10px;
  }
  .services__cards {
    margin-top: 40px;
  }
  .services__card_content {
    padding: 20px;
  }
  .services__subtitle {
    margin-top: 40px;
  }
  .services__advantages {
    margin-top: 0px;
    margin-bottom: 40px;
  }
  .services__advantages_item {
    padding: 0px 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services__advantages_item-title {
    margin-top: 16px;
    font-size: 16px;
    text-align: center;
  }
  .services__advantages_item-text {
    margin-top: 10px;
    text-align: center;
  }
  .promotion {
    padding: 60px 20px 40px;
  }
  .promotion__title_slider {
    padding: 8px 0 10px;
  }
  .promotion__title_slide {
    font-size: 18px;
  }
  .promotion .services__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .recall {
    padding: 60px 20px 50px;
  }
  .recall__img img {
    display: none;
  }
  .recall__form {
    padding: 40px 20px;
    width: 100%;
  }
  .recall__form_title {
    font-size: 20px;
  }
  .recall__form_subtitle {
    margin-top: 16px;
  }
  .recall__form_control {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 20px;
  }
  .recall__form_label {
    margin-top: 20px;
    padding: 15px 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0;
  }
  .recall__form_submit {
    width: 100%;
  }
  .reviews {
    padding: 50px 20px;
  }
  .reviews .container {
    gap: 30px;
  }
  .reviews__control img {
    width: 25px;
  }
  .reviews__slide {
    max-width: 550px;
  }
  .reviews__card {
    padding: 30px 20px;
  }
  .reviews__card_date-row img {
    width: 25px;
  }
  .reviews__card_name {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .reviews__card_text {
    font-size: 14px;
    line-height: 120%;
  }
  .reviews__card_content {
    margin-top: 40px;
  }
  .team {
    padding: 60px 20px;
  }
  .team .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .team__card {
    padding-top: 20px;
  }
  .team__card_name {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .team__card_role {
    margin-bottom: 15px;
  }
  .team__card_stars {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 14px;
  }
  .team__card_content {
    padding: 0 20px 25px;
  }
  .team__card_img {
    margin-top: -20px;
  }
  .questions {
    padding: 60px 20px;
  }
  .questions .container {
    gap: 40px;
  }
  .questions__title {
    margin-bottom: 16px;
  }
  .questions__subtitle {
    margin-bottom: 25px;
  }
  .questions__content_points {
    gap: 25px;
  }
  .questions__point {
    padding: 25px 20px;
  }
  .questions__point_title {
    font-size: 18px;
  }
  .questions__point_text {
    gap: 20px;
  }
  .questions__point_text > div {
    display: none;
  }
  .questions__point.active .questions__point_text {
    margin-top: 20px;
  }
  .map {
    height: 350px;
  }
  .map__contacts {
    padding: 30px 20px;
  }
  .map__contacts_title {
    margin-bottom: 20px;
  }
  .map__contacts_addr-text {
    font-size: 16px;
  }
  .map__contacts_items {
    margin-top: 20px;
  }
  .map__contacts_line {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .map__contacts_link {
    font-size: 18px;
  }
  .map__contacts_mode-item {
    font-size: 18px;
  }
  .feedback {
    padding: 30px 20px;
  }
  .feedback .container {
    gap: 20px;
  }
  .feedback__logo {
    display: none;
  }
  .feedback__scls {
    margin-left: 0;
  }
  .feedback__scls_list {
    gap: 15px;
  }
  .feedback__scls_item {
    width: 45px;
    height: 45px;
  }
  .feedback__recall {
    margin-left: auto;
  }
  .when {
    padding: 40px 20px;
  }
  .when__content {
    gap: 25px;
  }
  .when__content_title {
    width: 100%;
  }
  .when__list {
    margin-top: 40px;
  }
  .when__item {
    width: 100%;
  }
  .stages {
    padding: 40px 20px;
  }
  .stages__list {
    margin-top: 40px;
  }
  .stages__item {
    width: 100%;
  }
  .stages__item_content {
    padding: 20px 20px;
  }
  .stages__item_text {
    font-size: 18px;
    margin-top: 100px;
  }
  .which {
    padding: 40px 20px;
  }
  .price {
    padding: 40px 20px 40px;
  }
  .price.column {
    padding-bottom: 40px;
  }
  .price .container {
    gap: 20px;
  }
  .price__list {
    gap: 15px;
  }
  .price__item {
    padding: 20px 15px;
  }
  .price__item_text {
    font-size: 15px;
    line-height: 18px;
  }
  .about {
    padding: 120px 20px 40px;
  }
  .about__img {
    height: 160px;
  }
  .about__img svg {
    bottom: -25%;
  }
  .sign {
    padding: 40px 20px;
  }
  .sign__title {
    gap: 40px;
  }
  .sign__title .btn {
    display: none;
  }
  .sign__list {
    gap: 15px;
  }
  .sign__item {
    padding: 20px 20px 60px;
  }
  .sign__item_text {
    font-size: 15px;
    line-height: 120%;
  }
  .sign__item_ind {
    font-size: 50px;
  }
  .sign__correct {
    margin-top: 40px;
  }
  .sign__correct_img.false {
    margin-top: 20px;
  }
  .sign__correct_list ul {
    margin-top: 20px;
  }
  .sign__correct_list li {
    font-size: 16px;
  }
  .why {
    padding: 40px 20px;
  }
  .why__content {
    padding: 40px 20px;
  }
  .why__text {
    margin-top: 20px;
  }
  .why .when__item {
    width: 100%;
  }
  .contacts {
    padding-top: 90px;
  }
  .contacts .map {
    width: 100%;
    height: 250px;
  }
  .contacts .map__contacts {
    padding: 40px 20px 40px;
  }
  .contacts .map__contacts .breadcrumbs {
    margin-bottom: 30px;
  }
  .advs {
    padding: 40px 20px;
  }
  .advs .when__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 20px;
  }
  .advs .when__item {
    width: 100%;
  }
  .advs__img {
    display: none;
    min-width: 75px;
    height: 75px;
  }
  .advs .text {
    width: 100%;
    margin-top: 20px;
  }
  .examples {
    padding: 40px 20px;
  }
  .examples__content {
    margin-top: 30px;
  }
  .examples__sliders {
    margin-top: 25px;
  }
  .news {
    padding: 120px 20px 40px;
  }
  .news .breadcrumbs {
    margin-bottom: 40px;
  }
  .news__filter {
    margin-top: 30px;
  }
  .news__cards {
    margin-top: 30px;
    grid-gap: 20px;
  }
  .news__more_btn {
    margin-top: 50px;
  }
  .news-detail {
    padding: 120px 20px 40px;
  }
  .news-detail .breadcrumbs {
    margin-bottom: 40px;
  }
  .news-detail__date-row {
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 20px;
  }
  .news-detail__rating svg {
    width: 25px;
  }
  .news-detail__text {
    font-size: 16px;
    line-height: 130%;
  }
  .news-detail__banner {
    margin-top: 30px;
  }
  .news-detail__travel {
    margin-top: 30px;
  }
  .news-detail__travel-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 20px;
  }
  .news-detail__service {
    gap: 10px;
  }
  .news-detail__slider-container {
    margin: 40px 0;
  }
  .news-detail__slider .swiper-pagination {
    margin-top: 30px;
  }
  .news-detail__work_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 20px;
  }
  .news-detail__addr {
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .news-detail .h3 {
    margin-bottom: 30px;
  }
  .news-detail__text ul {
    padding-left: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .news-detail blockquote {
    margin: 35px 0;
    padding: 20px 20px;
    gap: 15px;
    font-size: 16px;
  }
  .more-news {
    padding: 40px 20px;
  }
  .works {
    padding: 40px 20px 50px;
  }
  .works__slider {
    margin-top: 40px;
  }
  .works__slide {
    grid-gap: 15px;
  }
  .reviews-inner {
    padding: 120px 20px 50px;
  }
  .reviews-inner .breadcrumbs {
    margin-bottom: 40px;
  }
  .reviews-inner__cards {
    margin-top: 30px;
  }
  .reviews-inner__card {
    padding: 30px 20px 40px;
    margin-bottom: 20px;
    width: 100%;
  }
  .footer {
    padding: 50px 20px;
  }
  .footer__menu {
    row-gap: 25px;
  }
  .footer__menu_title {
    margin-bottom: 20px;
  }
  .footer__menu_col {
    width: 100%;
  }
  .copyrait {
    padding: 25px 20px 25px;
  }
  .copyrait .container {
    gap: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .copyrait__icon svg {
    width: 18px;
  }
  .copyrait__text {
    width: 100%;
    gap: 20px;
  }
  .copyrait__links {
    width: 100%;
  }
  .modal__content.fancybox__content > .is-close {
    width: 45px;
    height: 45px;
    top: 10px;
    right: 10px;
  }
  .modal__img {
    width: 0%;
  }
  .modal__form {
    width: 100%;
    padding: 60px 20px 40px;
  }
  .modal__form .recall__form_label {
    width: 100%;
  }
}
@media (max-width: 420px) {
  .header__phone {
    display: none;
  }
  .header__phone-icon {
    display: block;
    margin-left: auto;
  }
  .h1 {
    font-size: 26px;
  }
  .intro {
    padding: 140px 20px 50px;
  }
  .intro__subtitle img {
    display: none;
  }
  .intro__filter_title {
    font-size: 16px;
  }
  .intro__filter_form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 30px;
  }
  .intro__filter_form .col {
    width: 100%;
  }
  .promotion__card_content {
    padding: 20px 20px;
  }
  .promotion__card_desc .h3 {
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 18px;
  }
  .promotion__card_desc p {
    max-width: 100%;
    font-size: 14px;
    line-height: 1.2;
  }
  .feedback__recall {
    width: 100%;
  }
  .about {
    padding: 120px 20px 40px;
  }
  .about__img {
    height: 160px;
  }
  .about__img svg {
    bottom: -35%;
  }
}