@media (max-width: 991px) {
  .intro {
    padding-top: 170px;
    background-position: 0px !important;
    background-size: cover !important;
  }
  .intro.services-page {
    padding: 150px 45px 60px;
  }
  .intro.services-page .intro__links {
    gap: 20px 40px;
  }
  .intro.services-page .intro__recall {
    margin-top: 70px;
  }
  .intro.services-page .intro__link {
    gap: 12px;
  }
  .intro.services-page .intro__link_arr {
    width: 32px;
    height: 32px;
  }
  .intro__content {
    width: 100%;
  }
  .intro__subtitle {
    font-size: 20px;
  }
  .intro__subtitle img {
    width: 34px;
  }
  .intro__filter_title {
    font-size: 20px;
  }
  .intro__filter_form {
    margin-top: 40px;
  }
  .h1 {
    font-size: 48px;
  }
  .h2 {
    font-size: 30px;
  }
  .h3 {
    font-size: 20px;
  }
  .swiper-button-prev, .swiper-button-next {
    width: 50px;
    height: 50px;
  }
  .swiper-pagination {
    margin-bottom: 15px;
  }
  .services {
    padding: 110px 45px 90px;
  }
  .services__top {
    padding: 110px 45px 250px;
    margin-top: -110px;
  }
  .services__bottom {
    padding: 250px 0 0;
  }
  .services__more {
    font-size: 16px;
  }
  .services__more span {
    width: 34px;
    height: 34px;
  }
  .services__subtitle {
    margin-top: 80px;
  }
  .services__card_ind {
    font-size: 18px;
  }
  .services__card_content {
    padding: 30px 45px 45px;
  }
  .services__card_text {
    margin-top: 16px;
  }
  .services__promo_card-content {
    padding: 50px 60px;
  }
  .services__promo_card-title {
    font-size: 28px;
  }
  .promotion {
    padding: 110px 45px 50px;
  }
  .promotion__title_slider {
    padding: 10px 0 15px;
  }
  .promotion__title_slide {
    font-size: 36px;
  }
  .promotion__card_content {
    padding: 30px 30px;
  }
  .promotion__card_date {
    padding: 8px 18px;
  }
  .promotion__card_desc .h3 {
    max-width: 100%;
    margin-bottom: 14px;
  }
  .promotion__card_desc p {
    max-width: 85%;
  }
  .recall__img img {
    display: none;
    height: 110%;
    right: 3.2967032967%;
  }
  .recall__form {
    width: 60%;
    padding: 50px 40px;
  }
  .recall__form_title {
    font-size: 22px;
  }
  .reviews {
    padding: 80px 45px;
  }
  .reviews__slide {
    max-width: 550px;
  }
  .reviews__content {
    margin-left: 110px;
  }
  .reviews__card {
    padding: 35px 30px 40px 50px;
  }
  .reviews__card_date-row img {
    width: 30px;
  }
  .reviews__card_content {
    margin-top: 75px;
  }
  .team {
    padding: 80px 45px;
  }
  .team__slide {
    max-width: 350px;
  }
  .team__content {
    margin-left: 110px;
  }
  .team__card {
    padding-top: 35px;
  }
  .team__card_date-row img {
    width: 30px;
  }
  .team__card_content {
    padding: 0 30px 30px;
  }
  .team__card_img {
    margin-top: -30px;
  }
  .questions {
    padding: 90px 45px 85px;
  }
  .questions .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .questions__control {
    width: 100%;
  }
  .questions__title {
    margin-bottom: 30px;
  }
  .questions__subtitle {
    margin-bottom: 40px;
  }
  .questions__content {
    width: 100%;
  }
  .map__contacts {
    max-width: 450px;
    padding: 45px 50px 40px;
  }
  .map__contacts_title {
    margin-bottom: 40px;
  }
  .map__contacts_addr-text {
    font-size: 20px;
  }
  .map__contacts_items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
  }
  .map__contacts_item {
    width: 100%;
  }
  .map__contacts_line {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .feedback {
    padding: 40px 45px;
  }
  .feedback__promo {
    display: none;
  }
  .feedback__scls_item {
    width: 50px;
    height: 50px;
  }
  .when {
    padding: 100px 45px 90px;
  }
  .when__content_text {
    width: 100%;
  }
  .when__list {
    margin-top: 80px;
  }
  .stages {
    padding: 70px 45px;
  }
  .stages__list {
    gap: 30px;
  }
  .stages__item {
    width: 30%;
  }
  .stages__item_content {
    padding: 30px 20px;
  }
  .stages__item_text {
    font-size: 18px;
    margin-top: 100px;
  }
  .which {
    padding: 80px 45px;
  }
  .price {
    padding: 70px 45px 80px;
  }
  .price .container {
    row-gap: 30px;
  }
  .price__title {
    width: 100%;
  }
  .price.column {
    padding-bottom: 80px;
  }
  .price.column .container .price__title {
    width: 100%;
  }
  .price__offer {
    margin-top: 20px;
  }
  .price__list {
    width: 100%;
  }
  .about {
    padding: 150px 45px 65px;
  }
  .about__content {
    margin-top: 40px;
  }
  .about__desc {
    width: 100%;
    gap: 40px;
  }
  .about__img {
    height: 200px;
  }
  .about__form {
    display: none;
  }
  .sign {
    padding: 75px 45px 80px;
  }
  .sign__list {
    gap: 30px 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sign__item {
    padding: 25px 25px 90px;
    width: 30%;
  }
  .sign__correct {
    margin-top: 80px;
    gap: 40px;
  }
  .sign__correct_list {
    width: 50%;
  }
  .sign__correct_list li {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .sign__correct_title {
    line-height: 120%;
  }
  .why {
    padding: 50px 45px;
  }
  .why__content {
    padding: 80px 45px 90px 45px;
    margin-left: 0;
    width: 100%;
  }
  .why__text {
    margin-top: 50px;
  }
  .contacts .map__contacts_item {
    width: 100%;
  }
  .advs {
    padding: 90px 45px;
  }
  .advs .when__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 20px;
  }
  .advs .when__item {
    width: 33%;
  }
  .advs__img {
    min-width: 200px;
    height: 200px;
  }
  .advs .text {
    width: 90%;
    margin-top: 60px;
  }
  .examples {
    padding: 80px 45px;
  }
  .examples__content {
    margin-top: 50px;
  }
  .examples__sliders {
    margin-top: 45px;
  }
  .news {
    padding: 150px 45px 65px;
  }
  .news__filter {
    margin-top: 50px;
  }
  .news__cards {
    margin-top: 50px;
    grid-gap: 30px;
  }
  .news__more_btn {
    margin-top: 80px;
  }
  .reviews-inner {
    padding: 150px 45px 65px;
  }
  .reviews-inner__cards {
    margin-top: 45px;
  }
  .reviews-inner__card {
    width: calc(50% - 10px);
    padding: 30px 30px 40px;
    margin-bottom: 30px;
  }
  .news-detail {
    padding: 150px 45px 80px;
  }
  .news-detail__date-row {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .news-detail__text {
    width: 100%;
  }
  .news-detail__banner {
    margin-top: 50px;
  }
  .news-detail__travel {
    margin-top: 70px;
  }
  .news-detail__travel-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 30px;
  }
  .news-detail__service {
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .news-detail__slider-container {
    margin: 70px 0;
  }
  .news-detail__slider .swiper-pagination {
    margin-top: 40px;
  }
  .more-news {
    padding: 70px 45px 80px;
  }
  .works {
    padding: 80px 45px;
  }
  .works__slide {
    grid-gap: 30px;
  }
  .footer {
    padding: 70px 45px;
  }
  .footer__menu {
    row-gap: 30px;
  }
  .footer__menu_col {
    width: 33.3%;
  }
  .copyrait {
    padding: 30px 45px 30px;
  }
  .copyrait .container {
    gap: 30px;
  }
  .copyrait__text {
    width: 66%;
    gap: 30px;
  }
  .modal__form > .form_content {
    padding: 10px 0;
  }
  .modal__form .recall__form_control {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}