html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
b,
u,
i,
ol,
ul,
li,
form,
label,
caption,
article,
footer,
header,
nav,
section,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

ul,
li,
img {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: 0;
}

img,
audio,
video {
  max-width: 100%;
  height: auto;
}

audio,
iframe,
video,
img,
svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}

textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input,
textarea,
select,
button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

textarea,
button,
input {
  line-height: normal;
  background: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
}

[class*=ymaps-2-1][class*=-ground-pane] {
  -webkit-filter: grayscale(100%);
}

.fixed__contacts {
  height: 100%;
  min-height: 700px;
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 45px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
@media (max-width: 1500px) {
  .fixed__contacts {
    left: -100px;
  }
}
@media (max-height: 700px) {
  .fixed__contacts__addr {
    top: 25%;
  }
  .fixed__contacts__scls {
    bottom: 5%;
  }
}
.fixed__addr {
  position: absolute;
  white-space: nowrap;
  top: 43%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--light-gray-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
@media (max-height: 700px) {
  .fixed__addr {
    top: 35%;
  }
}
.fixed__addr::after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  background: var(--main-yell-color);
  right: calc(100% + 7px);
}
.fixed__scls {
  position: absolute;
  bottom: 10%;
}
@media (max-height: 700px) {
  .fixed__scls {
    bottom: 15%;
  }
}
@media (max-height: 650px) {
  .fixed__scls {
    bottom: 20%;
  }
}
.fixed__scls_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 26px;
}
@media (max-height: 650px) {
  .fixed__scls_list {
    gap: 15px;
  }
}
.fixed__scls_item a svg path {
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.fixed__scls_item:hover a svg path {
  fill: var(--hover-yell-color);
}