html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-width: 340px;
  height: 100%;
  min-height: 100vh;
  font-family: var(--text-font);
  background: var(--dark-gray-color);
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body.hidden {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.logo svg path {
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.logo:hover svg path {
  fill: var(--hover-yell-color);
}

.nav-link {
  color: var(--white-color);
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  font-size: 18px;
  line-height: 120%;
}
.nav-link svg rect {
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.nav-link:hover {
  color: var(--hover-yell-color);
}
.nav-link:hover svg rect {
  fill: var(--hover-yell-color);
}
@media (max-width: 1500px) {
  .nav-link {
    font-size: 16px;
  }
}

a[href*=tel] {
  white-space: nowrap;
}

.phone-link {
  color: var(--light-gray-color);
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
  font-size: 24px;
  line-height: 135%;
}
.phone-link:hover {
  color: var(--hover-yell-color);
}
.phone-link:hover svg rect {
  fill: var(--hover-yell-color);
}
@media (max-width: 1500px) {
  .phone-link {
    font-size: 22px;
  }
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  padding: 20px 40px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
}
.btn-yell {
  background: var(--main-yell-color);
  color: var(--bg-color);
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.btn-yell:hover {
  background: var(--hover-yell-color);
}
.btn-light {
  background: var(--white-color);
  color: var(--bg-color);
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.btn-light:hover {
  background: var(--hover-yell-color);
  -webkit-box-shadow: 0px 3px 4px 1px rgba(243, 243, 243, 0.2);
          box-shadow: 0px 3px 4px 1px rgba(243, 243, 243, 0.2);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.btn-border {
  border: 1px solid var(--white-color);
  color: var(--white-color);
}
.btn-border:hover, .btn-border.selected {
  background: var(--white-color);
  color: var(--bg-color);
}
.btn-border.selected {
  cursor: default;
}
.btn-border.selected:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn:hover {
  -webkit-box-shadow: 0px 3px 4px 1px rgba(243, 243, 243, 0.2);
          box-shadow: 0px 3px 4px 1px rgba(243, 243, 243, 0.2);
  -webkit-transform: scale(101%);
          transform: scale(101%);
}
.btn:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.btn-green {
  padding: 12px 23px;
  background: var(--main-green-color);
  border-radius: 28px;
  font-weight: 700;
  font-size: 13px;
  line-height: 120%;
  color: var(--white-color);
}

.sm-btn {
  padding: 10px 21px;
  border-radius: 40px;
}

.animate {
  opacity: 0;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.animate.show {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.animate-right {
  opacity: 0;
  -webkit-transform: translatex(250px);
          transform: translatex(250px);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.animate-right.show {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.h1 {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 60px;
  line-height: 120%;
  color: var(--light-gray-color);
  text-transform: uppercase;
}

.h2 {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  color: var(--light-gray-color);
}
.h2 span {
  color: var(--main-yell-color);
}

.h3 {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  color: var(--light-gray-color);
}

.h4 {
  font-family: var(--title-font);
  font-size: 20px;
  text-transform: uppercase;
  line-height: 120%;
  color: var(--white-color);
}

.dark-gray {
  background: var(--dark-gray-color);
}

.gray {
  background: var(--bg-color);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper {
  width: 100%;
}

.swiper-pagination {
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #3B434A;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #FFFFFF;
}

.swiper-button-prev, .swiper-button-next {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background: #3B434A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.swiper-button-prev::after, .swiper-button-next::after {
  content: none;
}
.swiper-button-prev:hover, .swiper-button-next:hover {
  background: var(--bg-color);
}
.swiper-button-next {
  -webkit-transform: rotate(-180deg), translateY(50%);
          transform: rotate(-180deg), translateY(50%);
}
@media (min-width: 1670px) {
  .swiper-button-next {
    left: calc(100% + 40px);
    right: auto;
  }
}
@media (min-width: 1670px) {
  .swiper-button-prev {
    right: calc(100% + 40px);
    left: auto;
  }
}