body {
  width: 100%;
  min-width: 320px;
  height: 100%;
  min-height: 100vh;
  font-family: var(--text-font);
  background: var(--dark-gray-color);
}

.wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.logo svg path {
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.logo:hover svg path {
  fill: var(--hover-yell-color);
}

.nav-link {
  color: var(--white-color);
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  font-size: 18px;
  line-height: 120%;
}
.nav-link svg rect {
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.nav-link:hover {
  color: var(--hover-yell-color);
}
.nav-link:hover svg rect {
  fill: var(--hover-yell-color);
}

.phone-link {
  color: var(--light-gray-color);
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
  font-size: 24px;
  line-height: 135%;
}
.phone-link:hover {
  color: var(--hover-yell-color);
}
.phone-link:hover svg rect {
  fill: var(--hover-yell-color);
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  padding: 20px 40px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.btn-yell {
  background: var(--main-yell-color);
  color: var(--bg-color);
}
.btn-yell:hover {
  background: var(--hover-yell-color);
}

.h1 {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 60px;
  line-height: 120%;
  color: var(--light-gray-color);
  text-transform: uppercase;
}

.h2 {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  color: var(--light-gray-color);
  text-transform: uppercase;
}