.intro {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  mix-blend-mode: color-dodge;
  background-position: 500px !important;
  background-repeat: no-repeat !important;
  padding: 233px 45px 75px;
  position: relative;
}
.intro .container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.intro__content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.intro__subtitle {
  margin-top: 25px;
  color: var(--light-gray-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.intro__subtitle span {
  color: var(--main-yell-color);
}
.intro__filter_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 78px;
  margin-top: 55px;
}
.intro__filter_title {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  color: var(--white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}
.intro__filter_title p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}
.intro__filter_title a {
  color: var(--main-yell-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
  border-bottom: 2px dashed var(--main-yell-color);
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.intro__filter_title a:hover {
  color: var(--hover-yell-color);
  border-color: var(--hover-yell-color);
}
.intro__filter_title button {
  color: var(--main-yell-color);
  border: 2px solid var(--main-yell-color);
  border-radius: 44px;
  cursor: pointer;
  padding: 5px 10px;
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.intro__filter_title button:hover {
  color: var(--hover-yell-color);
  border-color: var(--hover-yell-color);
}
.intro__filter_name {
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  color: var(--form-name-color);
}
.intro__filter_select {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid rgba(189, 189, 189, 0.5);
  width: 220px;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: var(--white-color);
  cursor: pointer;
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.intro__scroll {
  position: absolute;
  right: 45px;
  bottom: 65px;
}
.intro__scroll_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  cursor: pointer;
}

.services__top {
  background: var(--bg-color);
  padding: 150px 45px 390px;
}
.services__title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services__title-row .h2 {
  text-transform: uppercase;
}
.services__more {
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: var(--main-yell-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
}
.services__more span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background: var(--main-yell-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
  will-change: transform;
}
.services__more:hover {
  color: var(--hover-yell-color);
}
.services__more:hover span {
  background: var(--hover-yell-color);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.services__more-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.services__bottom {
  padding: 360px 45px 130px;
  position: relative;
}
.services__cards {
  margin-top: 68px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  position: relative;
}
.services__card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.services__card:first-child {
  border-radius: 0 0 115px 0;
}
.services__card:nth-child(2) {
  border-radius: 0 0 0 115px;
}
.services__card:nth-child(3) {
  border-radius: 0 115px 0 0;
}
.services__card:nth-child(4) {
  border-radius: 115px 0 0 0;
}
.services__card_link {
  display: block;
  width: 100%;
  height: 100%;
}
.services__card_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.4;
}
.services__card_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 45px 70px 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services__card_ind {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  color: var(--main-yell-color);
}
.services__card_title {
  max-width: 390px;
  text-transform: uppercase;
}
.services__card_text {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: var(--light-text-color);
  max-width: 345px;
  margin-top: 33px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.services__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -85%);
          transform: translate(-50%, -85%);
}
.services__subtitle {
  margin-top: 115px;
}
.services__items {
  margin-top: 50px;
  gap: 20px 15px;
}
.services__promo_card {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.services__promo_card-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.32)), to(rgba(0, 0, 0, 0.32))), url(image.png);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)), url(image.png);
  padding: 85px 110px;
}
.services__promo_card-title {
  text-transform: uppercase;
  max-width: 50%;
  margin-bottom: 30px;
  margin-top: 30px;
}
.services__promo_card-title span {
  color: var(--main-yell-color);
}
.services__promo-l-image, .services__promo-s-image {
  position: absolute;
  top: 0;
  height: 100%;
}
.services__promo-l-image {
  right: 8.7692307692%;
}
.services__promo-s-image {
  right: 16.5384615385%;
}
.services__advantages {
  margin-top: 80px;
  margin-bottom: 90px;
}
.services__advantages_item {
  width: 25%;
  padding-right: 60px;
}
.services__advantages_item-title {
  margin-top: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  color: var(--white-color);
}
.services__advantages_item-text {
  margin-top: 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: var(--light-text-color);
}
.services__slider .swiper-pagination {
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
}
.services__slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #3B434A;
  opacity: 1;
}
.services__slider .swiper-pagination-bullet-active {
  background: #FFFFFF;
}
.services__slider-container {
  position: relative;
}
.services__slider-container .swiper-button-prev, .services__slider-container .swiper-button-next {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background: #3B434A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.services__slider-container .swiper-button-prev::after, .services__slider-container .swiper-button-next::after {
  content: none;
}
.services__slider-container .swiper-button-prev:hover, .services__slider-container .swiper-button-next:hover {
  background: var(--bg-color);
}
.services__slider-container .swiper-button-next {
  -webkit-transform: rotate(-180deg) translateY(50%);
          transform: rotate(-180deg) translateY(50%);
}
@media (min-width: 1670px) {
  .services__slider-container .swiper-button-next {
    left: calc(100% + 40px);
    right: auto;
  }
}
@media (min-width: 1670px) {
  .services__slider-container .swiper-button-prev {
    right: calc(100% + 40px);
    left: auto;
  }
}

.promotion {
  position: relative;
  padding: 170px 45px 50px;
  background: var(--bg-color);
}
.promotion__title_slider {
  position: absolute;
  width: 120%;
  height: auto;
  top: 0;
  left: -10%;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  padding: 10px 0 20px;
  background: var(--main-yell-color);
}
.promotion__title_slider .swiper-wrapper {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.promotion__title_slide {
  font-family: var(--title-font);
  font-size: 60px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--bg-color);
  width: auto;
}
.promotion__title_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.promotion__content {
  margin-top: 40px;
  position: relative;
}
.promotion__content .swiper-button-prev, .promotion__content .swiper-button-next {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background: var(--dark-gray-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.promotion__content .swiper-button-prev::after, .promotion__content .swiper-button-next::after {
  content: none;
}
.promotion__content .swiper-button-prev:hover, .promotion__content .swiper-button-next:hover {
  background: var(--dark-color);
}
.promotion__content .swiper-button-next {
  -webkit-transform: rotate(-180deg) translateY(50%);
          transform: rotate(-180deg) translateY(50%);
}
@media (min-width: 1670px) {
  .promotion__content .swiper-button-next {
    left: calc(100% + 40px);
    right: auto;
  }
}
.promotion__content .swiper-pagination-bullets {
  bottom: 0;
  margin-top: 40px;
}
.promotion__card {
  position: relative;
  display: block;
}
.promotion__card_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.promotion__card_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 45px;
}
.promotion__card_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.promotion__card_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 24px;
  gap: 10px;
  background: #D9D9D9;
  border-radius: 28px;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: var(--bg-color);
}
.promotion__card_desc {
  margin-top: auto;
}
.promotion__card_desc .h3 {
  color: var(--main-yell-color);
  line-height: 138%;
  margin-bottom: 20px;
  text-transform: uppercase;
  max-width: 65%;
}
.promotion__card_desc p {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--light-text-color);
  max-width: 50%;
}

.recall {
  padding: 110px 45px 105px;
}
.recall .container {
  position: relative;
}
.recall__img {
  position: absolute;
  width: 70%;
  height: 100%;
  right: 0;
  top: 0;
  background-position: bottom right !important;
  background-repeat: no-repeat !important;
}
.recall__img img {
  position: absolute;
  bottom: 0;
  right: 9.5604395604%;
}
.recall__form {
  width: 50%;
  padding: 70px 100px;
  position: relative;
  z-index: 2;
  background: var(--bg-color);
}
.recall__form_title {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 27px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--white-color);
}
.recall__form_subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  color: var(--light-text-color);
  margin-top: 25px;
}
.recall__form_subtitle span {
  color: var(--main-yell-color);
}
.recall__form_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 28px;
  width: 100%;
  padding: 18px 0;
  border-bottom: 2px solid var(--light-text-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}
.recall__form_label input {
  width: 100%;
  color: var(--light-text-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}
.recall__form_label input::-webkit-input-placeholder {
  color: var(--light-text-color);
}
.recall__form_label input::-moz-placeholder {
  color: var(--light-text-color);
}
.recall__form_label input:-ms-input-placeholder {
  color: var(--light-text-color);
}
.recall__form_label input::-ms-input-placeholder {
  color: var(--light-text-color);
}
.recall__form_label input::placeholder {
  color: var(--light-text-color);
}
.recall__form_label span {
  color: var(--main-red-color);
}
.recall__form_control {
  margin-top: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.recall__form_agree a {
  font-weight: 700;
  font-size: 12px;
  line-height: 120%;
  color: var(--light-text-color);
  text-decoration: underline;
}
.recall__form_agree input {
  display: none;
}
.recall__form_agree:hover a {
  color: var(--hover-yell-color);
}

.reviews {
  padding: 100px 45px;
  background: var(--bg-color);
}
.reviews__control {
  width: 25%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.reviews__control_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 12px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-transform: uppercase;
  color: var(--light-gray-color);
}
.reviews__control .swiper-button-prev, .reviews__control .swiper-button-next {
  position: absolute;
  background: var(--dark-gray-color);
}
.reviews__control .swiper-button-prev:hover, .reviews__control .swiper-button-next:hover {
  background: var(--dark-color);
}
.reviews__control .swiper-button-next {
  -webkit-transform: rotate(180deg) translateY(50%);
          transform: rotate(180deg) translateY(50%);
  right: 0;
  left: auto;
}
.reviews__control .swiper-button-prev {
  left: 0;
  right: auto;
}
.reviews__slide {
  max-width: 630px;
}
.reviews__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 45px 50px 40px 70px;
  background: var(--dark-gray-color);
  color: var(--white-color);
}
.reviews__card_date-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.reviews__card_content {
  margin-top: 90px;
}
.reviews__card_name {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 30px;
}
.reviews__card_text {
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  color: var(--light-text-color);
}
.reviews__content {
  margin-left: 155px;
}
.reviews__navigation {
  margin-top: auto;
  position: relative;
}

.team {
  padding: 100px 45px;
}
.team__title {
  color: var(--light-gray-color);
  text-transform: uppercase;
}
.team__control {
  width: 25%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team__control .swiper-button-prev, .team__control .swiper-button-next {
  position: absolute;
}
.team__control .swiper-button-next {
  -webkit-transform: rotate(180deg) translateY(50%);
          transform: rotate(180deg) translateY(50%);
  right: 0;
  left: auto;
}
.team__control .swiper-button-prev {
  left: 0;
  right: auto;
}
.team__content {
  margin-left: 145px;
}
.team__navigation {
  margin-top: auto;
  position: relative;
}
.team__card {
  display: block;
  padding-top: 45px;
}
.team__card_content {
  padding: 0 38px 35px;
  background: var(--bg-color);
}
.team__card_name {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: var(--white-color);
  margin-bottom: 10px;
}
.team__card_role {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: var(--light-text-color);
  margin-bottom: 30px;
}
.team__card_img {
  margin-top: -45px;
  margin-bottom: 35px;
}
.team__card_stars {
  color: var(--hover-yell-color);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.team__card_practice, .team__card_sert {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}
.team__slide {
  max-width: 410px;
}

.questions {
  padding: 113px 45px 95px;
  background: var(--bg-color);
  position: relative;
}
.questions .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}
.questions__bg {
  position: absolute;
  width: 64.5833333333%;
  height: 100%;
  bottom: 0;
  right: 0;
  mix-blend-mode: lighten;
}
.questions__control {
  width: 25%;
}
.questions__content {
  width: 65.6153846154%;
}
.questions__content_points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  position: relative;
  z-index: 2;
}
.questions__title {
  text-transform: uppercase;
  color: var(--light-text-color);
  margin-bottom: 44px;
}
.questions__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: var(--white-color);
  margin-bottom: 90px;
}
.questions__point {
  padding: 35px 40px 35px 45px;
  background: var(--dark-gray-color);
}
.questions__point.active .questions__point_text {
  height: auto;
  visibility: visible;
  margin-top: 55px;
}
.questions__point_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
  color: var(--white-color);
}
.questions__point_label {
  position: relative;
}
.questions__point_label > input {
  position: absolute;
  opacity: 0;
}
.questions__point_text {
  max-height: 500px;
  height: 0;
  overflow: hidden;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: var(--light-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
  visibility: hidden;
}
.questions__point_text p {
  max-width: 640px;
}

.map {
  position: relative;
  height: 670px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.map .container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
}
.map__contacts {
  padding: 75px 80px 50px 75px;
  background: var(--bg-color);
  z-index: 5;
  max-width: 650px;
}
.map__contacts_title {
  text-transform: uppercase;
  color: var(--light-gray-color);
  margin-bottom: 48px;
}
.map__contacts_addr-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: #828282;
  margin-bottom: 16px;
}
.map__contacts_addr-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: var(--white-color);
}
.map__contacts_items {
  margin-top: 55px;
}
.map__contacts_item {
  width: 50%;
}
.map__contacts_link {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: var(--white-color);
}
.map__contacts_line {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  height: 2px;
  background: #5C6670;
}
.map__contacts_mode .map__contacts_addr-title {
  margin-bottom: 6px;
}
.map__contacts_mode-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: var(--white-color);
}

.feedback {
  padding: 60px 45px;
  background: var(--bg-color);
}
.feedback .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feedback__promo {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: var(--light-gray-color);
  margin-left: 90px;
}
.feedback__scls {
  margin-left: 148px;
}
.feedback__scls_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.feedback__scls_item {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--dark-gray-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.feedback__scls_item svg path {
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.feedback__scls_item:hover {
  background: var(--dark-color);
}
.feedback__scls_item:hover svg path {
  fill: var(--hover-yell-color);
}
.feedback__recall {
  margin-left: auto;
}