.main {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header {
  width: 100%;
  background: var(--dark-gray-color);
  padding: 30px 45px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  display: none;
}
.header__logo.false {
  display: block;
  position: absolute;
  left: 45px;
}
@media (max-width: 1640px) {
  .header__logo {
    display: block;
    margin-right: 30px;
  }
  .header__logo.false {
    display: none;
  }
}
.header__nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.header__phone {
  margin-left: auto;
}
.header__search_form {
  background: var(--bg-color);
  border-radius: 30px;
  margin-left: 156px;
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header__search_form.active {
  padding-left: 30px;
  margin-left: 20px;
}
.header__search_form.active .search-label {
  width: 100%;
  visibility: visible;
}
.header__search_form.active .search-input {
  padding: 8px 0;
  width: 100%;
  visibility: visible;
}
.header__search .search-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--bg-color);
  cursor: pointer;
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.header__search .search-btn svg circle, .header__search .search-btn svg path {
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.header__search .search-btn:hover svg circle, .header__search .search-btn:hover svg path {
  stroke: var(--hover-yell-color);
}
.header__search .search-label {
  width: 0;
  max-width: 200px;
  visibility: hidden;
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.header__search .search-input {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: var(--white-color);
  width: 0;
  max-width: 200px;
  visibility: hidden;
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.header__search .search-input::-webkit-input-placeholder {
  color: var(--light-gray-color);
}
.header__search .search-input::-moz-placeholder {
  color: var(--light-gray-color);
}
.header__search .search-input:-ms-input-placeholder {
  color: var(--light-gray-color);
}
.header__search .search-input::-ms-input-placeholder {
  color: var(--light-gray-color);
}
.header__search .search-input::placeholder {
  color: var(--light-gray-color);
}
.header__search_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__recall {
  display: none;
}
.header__recall.false {
  display: block;
  position: absolute;
  right: 45px;
}
@media (max-width: 1830px) {
  .header__recall {
    display: block;
    margin-left: 45px;
  }
  .header__recall.false {
    display: none;
  }
}
@media (max-width: 1640px) {
  .header__recall {
    margin-left: 30px;
  }
}