.main {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header {
  width: 100%;
  background: var(--dark-gray-color);
  padding: 30px 45px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}
@media (max-width: 1640px) {
  .header .container {
    margin-right: 30px;
  }
}
.header__logo {
  display: block;
  margin-right: 40px;
}
@media (max-width: 1500px) {
  .header__logo svg {
    width: 110px;
  }
}
.header__nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.header__phone {
  margin-left: auto;
}
.header__phone-icon {
  display: none;
}
.header__search {
  margin-left: 156px;
}
@media (max-width: 1540px) {
  .header__search {
    margin-left: 30px;
  }
}
.header__search_form {
  background: var(--bg-color);
  border-radius: 30px;
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}
.header__search_form.active .search-label {
  width: 260px;
  visibility: visible;
  background: var(--bg-color);
  border-radius: 30px;
  padding-left: 30px;
}
.header__search_form.active .search-input {
  padding: 8px 0;
  width: 100%;
  visibility: visible;
}
.header__search .search-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--bg-color);
  cursor: pointer;
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
  position: relative;
}
.header__search .search-btn svg circle, .header__search .search-btn svg path {
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
@media (max-width: 1500px) {
  .header__search .search-btn {
    width: 50px;
    height: 50px;
  }
}
.header__search .search-btn:hover svg circle, .header__search .search-btn:hover svg path {
  stroke: var(--hover-yell-color);
}
.header__search .search-label {
  width: 0;
  max-width: 260px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  position: absolute;
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
@media (max-width: 1500px) {
  .header__search .search-label {
    height: 50px;
  }
}
.header__search .search-input {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: var(--white-color);
  width: 0;
  max-width: 200px;
  visibility: hidden;
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.header__search .search-input::-webkit-input-placeholder {
  color: var(--light-gray-color);
}
.header__search .search-input::-moz-placeholder {
  color: var(--light-gray-color);
}
.header__search .search-input:-ms-input-placeholder {
  color: var(--light-gray-color);
}
.header__search .search-input::-ms-input-placeholder {
  color: var(--light-gray-color);
}
.header__search .search-input::placeholder {
  color: var(--light-gray-color);
}
.header__search_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1500px) {
  .header__recall {
    padding: 16px 30px;
  }
}
.header .burger-menu {
  display: none;
  cursor: pointer;
  margin-right: 30px;
}
.header .burger-menu svg rect {
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.header .burger-menu:hover svg rect {
  fill: var(--hover-yell-color);
}

.footer {
  padding: 100px 45px;
}
.footer__menu_col {
  width: 25%;
}
.footer__menu_title {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: var(--white-color);
  margin-bottom: 32px;
}
.footer__menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 260px;
}
.footer__menu_item {
  margin-bottom: 10px;
}
.footer__menu_item a {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: var(--light-text-color);
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.footer__menu_item a:hover {
  color: var(--hover-yell-color);
}
.footer__menu_more a {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: var(--main-yell-color);
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.footer__menu_more a:hover {
  color: var(--hover-yell-color);
}

.copyrait {
  padding: 35px 45px 40px;
  background: var(--dark-color);
}
.copyrait .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}
.copyrait__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 45px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: var(--light-text-color);
  width: 65%;
}
.copyrait__links {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
}
.copyrait__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: var(--light-text-color);
  -webkit-transition: all var(--transition-duration);
  transition: all var(--transition-duration);
}
.copyrait__link:hover {
  color: var(--hover-yell-color);
}