:root {
  --title-font: 'Dela Gothic One', sans-serif;
  --text-font: "Mont", sans-serif;
  --white-color: #FFFFFF;
  --light-gray-color: #F3F3F3;
  --bg-color: #303941;
  --dark-color: #20252B;
  --dark-gray-color: #252B31;
  --light-text-color: #BDBDBD;
  --main-yell-color: #FFE664;
  --main-red-color: #EB5757;
  --main-green-color: #27AE60;
  --hover-green-color: #6FCF97;
  --hover-yell-color: #EFD445;
  --form-name-color: #9A9A9A;
  --gap: 50px;
  --transition-duration: 0.2s;
}
