@media (max-width:550px) {
    .header {
        padding: 20px 20px;

        &__logo {
            & svg {
                width: 80px;
            }
        }

        &__phone-icon svg {
            width: 22px;
            height: 22px;
        }

        &__search {
            display: none;
        }

        & .burger-menu svg {
            width: 30px;
        }
    }

    .h1 {
        font-size: 30px;
    }

    .h2 {
        font-size: 22px;
    }
    .swiper {
        overflow: visible;
    }


    .sm-btn {
        padding: 7px 10px;
        font-size: 14px;
    }

    .intro {
        padding: 110px 20px 50px;
        max-height: 650px;
        min-height: 650px;

        &.services-page {
            padding: 120px 20px 50px;

            & .intro {

                &__recall {
                    margin-top: 0px;
                }
                &__links {
                    gap: 12px 30px;
                }

                &__link {
                    gap: 8px;
                    font-size: 14px;

                    &_arr {
                        width: 26px;
                        height: 26px;

                        & svg {
                            width: 14px;
                            height: 16px;
                        }
                    }
                }
            }
        }

        &.about-page {
            padding: 150px 20px 50px;

            & .container {
                justify-content: center;
                gap: 40px;
            }


            & .intro {

                
                &__recall {
                    margin-top: 0px;
                }
                &__links {
                    gap: 12px 30px;
                }

                &__link {
                    gap: 8px;
                    font-size: 14px;

                    &_arr {
                        width: 26px;
                        height: 26px;

                        & svg {
                            width: 14px;
                            height: 16px;
                        }
                    }
                }
            }
        }

        &__subtitle {
            font-size: 16px;

            & img {
                width: 26px;
            }
        }

        &__filter {

            &_title {
                font-size: 16px;
                flex-wrap: wrap;
            }

            &_form {
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;

                & .col {
                    width: 100%;
                }
            }
        }

        &__tagline {
            margin-top: 30px;
        }
    }

    .services {
        padding: 40px 20px 40px;

        &__top {
            padding: 40px 20px 180px;
            margin: -40px -20px 0;
        }

        &__bottom {
            padding: 180px 0px 0px;
        }

        &__promo {
            &_card {
                // width: calc(100% - 40px);
                width: 100%;

                &-content {
                    padding: 20px 30px;


                }

                &-title {
                    font-size: 22px;
                }

            }
        }

        &__more {
            display: none;
        }

        &__items {
            margin-top: 30px;
            gap: 12px 10px;
        }

        &__cards {
            margin-top: 40px;
        }

        &__card {
            &_content {
                padding: 20px;
            }
        }

        &__subtitle {
            margin-top: 40px;
        }

        &__advantages {
            margin-top: 30px;
            margin-bottom: 40px;

            &_item {
                padding: 0px 5px;
                align-items: center;

                &-title {
                    margin-top: 16px;
                    font-size: 16px;
                    text-align: center;
                }

                &-text {
                    margin-top: 10px;
                    text-align: center;
                }
            }
        }
    }

    .promotion {
        padding: 60px 20px 40px;

        &__title {
            &_slider {
                padding: 8px 0 10px;
            }

            &_slide {
                font-size: 18px;
            }
        }

        & .services__more {
            display: flex;
        }
    }

    .recall {
        padding: 60px 20px 50px;

        &__img {
            & img {
                display: none;
            }
        }

        &__form {
            padding: 40px 20px;
            width: 100%;

            &_title {
                font-size: 20px;
            }

            &_subtitle {
                margin-top: 16px;
            }

            &_control {
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;

            }

            &_label {
                margin-top: 20px;
                padding: 15px 0;
                width: 100%;
                display: flex;
                margin-right: 0;
            }

            &_submit {
                width: 100%;
            }
        }
    }

    .reviews {
        padding: 50px 20px;

        & .container {
            gap: 30px;
        }

        &__control {

            & img {
                width: 25px;
            }
        }

        &__slide {
            max-width: 550px;
        }

        &__card {
            padding: 30px 20px;

            &_date-row {
                & img {
                    width: 25px;
                }
            }

            &_name {
                font-size: 20px;
                margin-bottom: 15px;
            }

            &_text {
                font-size: 14px;
                line-height: 120%;
            }

            &_content {
                margin-top: 40px;
            }
        }
    }

    .team {
        padding: 60px 20px;

        & .container {
            flex-direction: column;
            gap: 30px;
        }

        &__card {
            padding-top: 20px;

            &_name {
                font-size: 18px;
                margin-bottom: 5px;
            }

            &_role {
                margin-bottom: 15px;
            }

            &_stars {
                flex-direction: column-reverse;
                align-items: flex-start;
                font-size: 14px;
            }


            &_content {
                padding: 0 20px 25px;
            }

            &_img {
                margin-top: -20px;
            }
        }
    }

    .questions {
        padding: 60px 20px;

        & .container {
            gap: 40px;
        }

        &__title {
            margin-bottom: 16px;
        }

        &__subtitle {
            margin-bottom: 25px;
        }

        &__content {
            &_points {
                gap: 25px;
            }
        }

        &__point {
            padding: 25px 20px;

            &_title {
                font-size: 18px;
            }

            &_text {
                gap: 20px;

                &>div {
                    display: none;
                }
            }

            &.active {
                & .questions__point_text {
                    margin-top: 20px;
                }
            }
        }
    }

    .map {
        height: 350px;

        &__contacts {
            padding: 30px 20px;

            &_title {
                margin-bottom: 20px;
            }

            &_addr-text {
                font-size: 16px;
            }

            &_items {
                margin-top: 20px;
            }

            &_line {
                margin-top: 20px;
                margin-bottom: 20px;
            }

            &_link {
                font-size: 18px;
            }

            &_mode {
                &-item {
                    font-size: 18px;
                }
            }
        }
    }

    .feedback {

        & .container {
            gap: 20px;
        }

        padding: 30px 20px;

        &__logo {
            display: none;
        }

        &__scls {
            margin-left: 0;

            &_list {
                gap: 15px;
            }

            &_item {
                width: 45px;
                height: 45px;
            }
        }

        &__recall {
            margin-left: auto;
        }
    }

    .when {
        padding: 40px 20px;

        &__content {
            gap: 25px;
            &_title {
                width: 100%;
            }
        }

        &__list {
            margin-top: 40px;
        }

        &__item {
            width: 100%;
        }
    }

    .stages {
        padding: 40px 20px;

        &__list {
            margin-top: 40px;
        }

        &__item {
            width: 100%;

            &_content {
                padding: 20px 20px;
            }
            &_text {
                font-size: 18px;
                margin-top: 100px;
            }
        }
    }

    .which {
        padding: 40px 20px;
    }

    .price {
        padding: 40px 20px 40px;
        &.column {
            padding-bottom: 40px;
        }

        & .container {
            gap: 20px;
        }

        &__list {
            gap: 15px;
        }

        &__item {
            padding: 20px 15px;

            &_text {
                font-size: 15px;line-height: 18px;
            }
        }
    }

    .about {
        padding: 120px 20px 40px;

        &__img {
            height: 160px;

            & svg {
                bottom: -25%;
            }
        }
    }

    .sign {
        padding: 40px 20px;

        &__title {
            gap: 40px;

            & .btn {
                display: none;
            }
        }

        &__list {
            gap: 15px;
        }

        &__item {
            padding: 20px 20px 60px;

            &_text {
                font-size: 15px;
                line-height: 120%;
            }

            &_ind {
                font-size: 50px;
            }
        }

        &__correct {
            margin-top: 40px;

            &_img.false {
                margin-top: 20px;
            }

            &_list {
                & ul {
                    margin-top: 20px;
                }

                & li {
                    font-size: 16px;
                }
            }
        }
    }

    .why {
        padding: 40px 20px;

        &__content {
            padding: 40px 20px;
        }

        &__text {
            margin-top: 20px;
        }

        & .when__item {
            width: 100%;
        }
    }

    .contacts {
        padding-top: 90px;
        & .map {
            width: 100%;
            height: 250px;

            &__contacts {
                padding: 40px 20px 40px;

                & .breadcrumbs {
                    margin-bottom: 30px;
                }
            }
        }
    }

    .advs {
        padding: 40px 20px;

        &__models {

            &_price {
                padding: 20px;

                &-items {
                    flex-direction: column;
                }

                &-name {
                    margin-bottom: 10px;
                }
            }
        }

        & .when {
            &__list {
                justify-content: center;
                row-gap: 20px;
            }

            &__item {
                width: 100%;
            }
        }

        &__img {
            display: none;
            min-width: 75px;
            height: 75px;
        }

        & .text {
            width: 100%;
            margin-top: 20px;
        }
    }

    .examples {
        padding: 40px 20px;

        &__content {
            margin-top: 30px;
        }

        &__tabs {
            margin-bottom: 25px;
        }
    }

    .breadcrumbs {
        margin-bottom: 40px;
    }

    .news {
        padding: 120px 20px 40px;

        & .breadcrumbs {
            margin-bottom: 40px;
        }

        &__filter {
            margin-top: 30px;
        }

        &__cards {
            margin-top: 30px;
            grid-gap: 20px;
        }

        &__more_btn {
            margin-top: 50px;
        }
    }

    .news-detail {
        padding: 120px 20px 40px;

        & .breadcrumbs {
            margin-bottom: 40px;
        }

        &__date-row {
            margin-top: 30px;
            margin-bottom: 30px;
            gap: 20px;
        }

        &__rating {
            & svg {
                width: 25px;
            }
        }

        &__text {
            font-size: 16px;
            line-height: 130%;
        }

        &__banner {
            margin-top: 30px;
        }

        &__travel {
            margin-top: 30px;

            &-row {
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
            }
        }

        &__service {
            gap: 10px;
        }

        &__slider {
            &-container {
                margin: 40px 0;
            }

            & .swiper-pagination {
                margin-top: 30px;
            }
        }

        &__work {
            &_content {
                flex-direction: column-reverse;
                gap: 20px;
            }
        }

        &__addr {
            width: 100%;
            align-items: flex-start;
        }

        & .h3 {
            margin-bottom: 30px;
        }

        &__text {
            & ul {
                padding-left: 40px;
                margin-top: 25px;
                margin-bottom: 25px;
            }
        }

        & blockquote {
            margin: 35px 0;
            padding: 20px 20px;
            gap: 15px;
            font-size: 16px;
        }
    }

    .more-news {
        padding: 40px 20px;
    }

    .works {
        padding: 40px 20px 50px;

        &__slider {
            margin-top: 40px;
        }

        &__slide {
            grid-gap: 15px;
        }


    }

    .reviews-inner {
        padding: 120px 20px 50px;

        & .breadcrumbs {
            margin-bottom: 40px;
        }

        &__cards {
            margin-top: 30px;
        }

        &__card {
            padding: 30px 20px 40px;
            margin-bottom: 20px;
            width: 100%;
        }
    }

    .footer {
        padding: 50px 20px;

        &__menu {
            row-gap: 25px;

            &_title {
                margin-bottom: 20px;
            }

            &_col {
                width: 100%;
            }
        }
    }

    .copyrait {
        padding: 25px 20px 25px;

        & .container {
            gap: 15px;
            flex-direction: column;
        }

        &__icon svg {
            width: 18px;
        }

        &__text {
            width: 100%;
            gap: 20px;
        }

        &__links {
            width: 100%;
        }
    }

    .modal {
        &__content.fancybox__content>.is-close {
            width: 45px;
            height: 45px;
            top: 10px;
            right: 10px;
        }

        &__img {
            width: 0%;
        }

        &__form {
            width: 100%;
            padding: 60px 20px 40px;

            & .recall__form_label {
                width: 100%;
            }
        }
    }
}



@media (max-width: 420px) {
    .header {
        &__phone {
            display: none;

            &-icon {
                display: block;
                margin-left: auto;
            }
        }
    }

    .h1 {
        font-size: 26px;
    }

    .intro {
        padding: 140px 20px 50px;

        &__subtitle {
            & img {
                display: none;
            }
        }

        &__filter {

            &_title {
                font-size: 16px;
            }

            &_form {
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;

                & .col {
                    width: 100%;
                }
            }
        }
    }

    .promotion {
        &__card {
            &_content {
                padding: 20px 20px;
            }

            &_desc {
                & .h3 {
                    max-width: 100%;
                    margin-bottom: 5px;
                    font-size: 18px;
                }

                & p {
                    max-width: 100%;
                    font-size: 14px;
                    line-height: 1.2;
                }
            }
        }
    }

    .feedback__recall {
        width: 100%;
    }

    .about {
        padding: 120px 20px 40px;

        &__img {
            height: 160px;

            & svg {
                bottom: -35%;
            }
        }
    }

}