// Сброс стилей
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
b,
u,
i,
ol,
ul,
li,
form,
label,
caption,
article,
footer,
header,
nav,
section,
audio,
video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

ul,
li,
img {
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;

}

img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus {
    outline: 0;
}

img,
audio,
video {
    max-width: 100%;
    height: auto;
}

audio,
iframe,
video,
img,
svg {
    vertical-align: middle;
}

iframe {
    border: 0
}

textarea {
    resize: none;
    /*remove the resize handle on the bottom right*/
    overflow: auto;
    vertical-align: top;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

input,
textarea,
select,
button {
    outline: none;
    border: none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button,
input {
    line-height: normal;
    background: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
}

// Фильтр яндекс карт
[class*="ymaps-2-1"][class*="-ground-pane"] {
    -webkit-filter: grayscale(100%);
}

.fixed {
    &__contacts {
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        padding: 0 45px;
        // background: var(--dark-gray-color);
        flex-direction: column;
        z-index: 10;
    }

    &__addr {
        position: absolute;
        white-space: nowrap;
        // left: -4.7%;
        top: 43%;
        transform: rotate(-90deg);
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: var(--light-gray-color);
        display: flex;
        align-items: center;
        cursor: pointer;

        &::after {
            content: '';
            width: 15px;
            height: 15px;
            border-radius: 50%;
            position: absolute;
            background: var(--main-yell-color);
            right: calc(100% + 7px);
        }
    }

    &__scls {
        position: absolute;
        // left: 45px;
        bottom: 10%;

        &_list {
            display: flex;
            flex-direction: column;
            gap: 26px;
        }

        &_item {
            & a svg path {
                transition: all var(--transition-duration);
            }

            &:hover a svg path {
                fill: var(--hover-yell-color);
            }
        }
    }
}