.intro {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    mix-blend-mode: color-dodge;
    background-position: 500px !important;
    background-repeat: no-repeat !important;
    padding: 233px 45px 75px;
    position: relative;

    & .container {
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    &__content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__subtitle {
        margin-top: 25px;
        color: var(--light-gray-color);
        font-weight: 700;
        font-size: 26px;
        line-height: 120%;
        display: flex;
        align-items: center;
        gap: 15px;

        & span {
            color: var(--main-yell-color);
        }
    }

    &__filter {
        &_form {
            display: flex;
            align-items: center;
            gap: 78px;
            margin-top: 55px;
        }

        &_title {
            font-weight: 700;
            font-size: 30px;
            line-height: 120%;
            color: var(--white-color);
            display: flex;
            align-items: center;
            gap: 7px;

            & p {
                display: flex;
                align-items: center;
                gap: 7px;
            }

            & a {
                color: var(--main-yell-color);
                display: flex;
                padding: 5px 0;
                border-bottom: 2px dashed var(--main-yell-color);
                transition: all var(--transition-duration);

                &:hover {
                    color: var(--hover-yell-color);
                    border-color: var(--hover-yell-color);
                }
            }

            & button {
                color: var(--main-yell-color);
                border: 2px solid var(--main-yell-color);
                border-radius: 44px;
                cursor: pointer;
                padding: 5px 10px;
                transition: all var(--transition-duration);

                &:hover {
                    color: var(--hover-yell-color);
                    border-color: var(--hover-yell-color);
                }
            }
        }

        &_name {
            font-weight: 600;
            font-size: 12px;
            line-height: 120%;
            color: var(--form-name-color);
        }

        &_select {
            padding: 15px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 2px solid rgba(#BDBDBD, 0.5);
            width: 220px;
            font-weight: 700;
            font-size: 18px;
            line-height: 120%;
            color: var(--white-color);
            cursor: pointer;
            transition: all var(--transition-duration);

        }
    }

    &__scroll {
        position: absolute;
        right: 45px;
        bottom: 65px;

        &_btn {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            cursor: pointer;
        }
    }
}

.services {
    &__top {
        background: var(--bg-color);
        padding: 150px 45px 390px;
    }

    &__title-row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .h2 {
            text-transform: uppercase;
        }
    }

    &__more {
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        color: var(--main-yell-color);
        display: flex;
        align-items: center;
        gap: 17px;

        & span {
            display: inline-flex;
            width: 37px;
            height: 37px;
            border-radius: 50%;
            background: var(--main-yell-color);
            align-items: center;
            justify-content: center;
            transition: all var(--transition-duration);
            will-change: transform;
        }

        &:hover {
            color: var(--hover-yell-color);

            & span {
                background: var(--hover-yell-color);
                transform: rotate(45deg);
            }
        }

        &-btn {
            display: flex;
        }
    }

    &__bottom {
        padding: 360px 45px 130px;
        position: relative;
    }

    &__cards {
        margin-top: 68px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        position: relative;
    }

    &__card {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;

        &:first-child {
            border-radius: 0 0 115px 0;
        }

        &:nth-child(2) {
            border-radius: 0 0 0 115px;
        }

        &:nth-child(3) {
            border-radius: 0 115px 0 0;
        }

        &:nth-child(4) {
            border-radius: 115px 0 0 0;
        }

        &_link {
            display: block;
            width: 100%;
            height: 100%;
        }

        &_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.4;
        }

        &_content {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            padding: 45px 70px 70px;
            justify-content: space-between;
        }

        &_ind {
            font-family: var(--title-font);
            font-weight: 400;
            font-size: 20px;
            line-height: 110%;
            color: var(--main-yell-color);
        }

        &_title {
            max-width: 390px;
            text-transform: uppercase;
        }

        &_text {
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            color: var(--light-text-color);
            max-width: 345px;
            margin-top: 33px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -85%);
    }

    &__subtitle {
        margin-top: 115px;
    }

    &__items {
        margin-top: 50px;
        gap: 20px 15px;
    }

    &__promo {
        &_card {
            position: absolute;
            top: 0;
            transform: translateY(-50%);

            &-content {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)), url(image.png);
                padding: 85px 110px;
            }

            &-title {
                text-transform: uppercase;
                max-width: 50%;
                margin-bottom: 30px;
                margin-top: 30px;

                & span {
                    color: var(--main-yell-color);
                }
            }
        }

        &-l-image,
        &-s-image {
            position: absolute;
            top: 0;
            height: 100%;
        }

        &-l-image {
            right: calc(114 / 1300 * 100%);
        }

        &-s-image {
            right: calc(215 / 1300 * 100%);
        }
    }

    &__advantages {
        margin-top: 80px;
        margin-bottom: 90px;

        &_items {
            // gap: 60px;
        }

        &_item {
            width: 25%;
            padding-right: 60px;

            &-title {
                margin-top: 25px;
                font-weight: 700;
                font-size: 18px;
                line-height: 110%;
                color: var(--white-color);
            }

            &-text {
                margin-top: 15px;
                font-weight: 600;
                font-size: 14px;
                line-height: 22px;
                color: var(--light-text-color);
            }
        }
    }

    &__slider {
        & .swiper-pagination {
            position: relative;
            margin-top: 25px;
            margin-bottom: 25px;
        }

        & .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background: #3B434A;
            opacity: 1;
        }

        & .swiper-pagination-bullet-active {
            background: #FFFFFF;
        }

        &-container {
            position: relative;

            & .swiper-button {

                &-prev,
                &-next {
                    width: 66px;
                    height: 66px;
                    border-radius: 50%;
                    background: #3B434A;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transform: translateY(-50%);
                    transition: all var(--transition-duration);

                    &::after {
                        content: none;
                    }

                    &:hover {
                        background: var(--bg-color);
                    }
                }

                &-next {
                    transform: rotate(-180deg) translateY(50%);

                    @media (min-width:1670px) {
                        left: calc(100% + 40px);
                        right: auto;
                    }
                }

                &-prev {
                    @media (min-width:1670px) {
                        right: calc(100% + 40px);
                        left: auto;
                    }
                }
            }
        }


    }
}

.promotion {
    position: relative;
    padding: 170px 45px 50px;
    background: var(--bg-color);

    &__title {
        &_slider {
            position: absolute;
            width: 120%;
            height: auto;
            top: 0;
            left: -10%;
            transform: rotate(-3deg);
            padding: 10px 0 20px;
            background: var(--main-yell-color);

            & .swiper-wrapper {
                transition-timing-function: linear; // При необходимости использовать !important
            }
        }

        &_slide {
            font-family: var(--title-font);
            font-size: 60px;
            line-height: 100%;
            text-transform: uppercase;
            color: var(--bg-color);
            width: auto;
        }

        &_row {
            display: flex;
            justify-content: flex-end;
        }
    }

    &__content {
        margin-top: 40px;
        position: relative;

        & .swiper-button {

            &-prev,
            &-next {
                width: 66px;
                height: 66px;
                border-radius: 50%;
                background: var(--dark-gray-color);
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateY(-50%);
                transition: all var(--transition-duration);

                &::after {
                    content: none;
                }

                &:hover {
                    background: var(--dark-color);
                }
            }

            &-next {
                transform: rotate(-180deg) translateY(50%);

                @media (min-width:1670px) {
                    left: calc(100% + 40px);
                    right: auto;
                }
            }
        }

        & .swiper-pagination-bullets {
            bottom: 0;
            margin-top: 40px;
        }
    }

    &__card {
        position: relative;
        display: block;

        &_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &_content {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;
            padding: 50px 45px;


        }

        &_row {
            display: flex;
            justify-content: flex-start;
        }

        &_date {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 11px 24px;
            gap: 10px;
            background: #D9D9D9;
            border-radius: 28px;
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
            color: var(--bg-color);
        }

        &_desc {
            margin-top: auto;


            & .h3 {
                color: var(--main-yell-color);
                line-height: 138%;
                margin-bottom: 20px;
                text-transform: uppercase;
                max-width: 65%;
            }

            & p {
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: var(--light-text-color);
                max-width: 50%;
            }
        }
    }
}

.recall {
    padding: 110px 45px 105px;

    & .container {
        position: relative;
    }

    &__img {
        position: absolute;
        width: 70%;
        height: 100%;
        right: 0;
        top: 0;
        background-position: bottom right !important;
        background-repeat: no-repeat !important;
        // background-size: cover !important;

        & img {
            position: absolute;
            bottom: 0;
            right: calc(87 / 910 * 100%);
        //     width: 100%;
        //     height: 100%;
        //     object-fit: cover;
        }
    }

    &__form {
        width: 50%;
        padding: 70px 100px;
        position: relative;
        z-index: 2;
        background: var(--bg-color);

        &_title {
            font-family: var(--title-font);
            font-weight: 400;
            font-size: 27px;
            line-height: 120%;
            text-transform: uppercase;
            color: var(--white-color);
        }

        &_subtitle {
            font-weight: 600;
            font-size: 16px;
            line-height: 135%;
            color: var(--light-text-color);
            margin-top: 25px;

            & span {
                color: var(--main-yell-color);
            }
        }

        &_label {
            display: flex;
            margin-top: 28px;
            width: 100%;
            padding: 18px 0;
            border-bottom: 2px solid var(--light-text-color);
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;

            & input {
                width: 100%;
                color: var(--light-text-color);
                font-weight: 600;
                font-size: 16px;
                line-height: 120%;

                &::placeholder {
                    color: var(--light-text-color);
                }
            }

            & span {
                color: var(--main-red-color);
            }
        }

        &_control {
            margin-top: 45px;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
        }

        &_submit {}

        &_agree {


            & a {
                font-weight: 700;
                font-size: 12px;
                line-height: 120%;
                color: var(--light-text-color);
                text-decoration: underline;
            }

            & input {
                display: none;
            }

            &:hover a {
                color: var(--hover-yell-color);
            }
        }
    }
}