.main {
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.obs-target {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 1500px;
}

.header {
    width: 100%;
    background: var(--dark-gray-color);
    padding: 30px 45px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;

    &.fixed {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        will-change: transform;
        transition: all 0.6s;

        &.show {
            transform: translateY(0);
        }
    }

    & .container {
        display: flex;
        align-items: center;
        margin-right: 40px;

        @media (max-width: 1640px) {
            margin-right: 30px;
        }

    }

    &__logo {
        display: block;
        margin-right: 40px;
        
        & svg {
            @media (max-width: 1500px) {
                width: 110px;
            }
        }
    }

    &__nav {
        &_list {
            display: flex;
            align-items: center;
            gap: 40px;
        }

        &_item {
            display: flex;
            align-items: center;
            gap: 15px;
            cursor: pointer;

            & svg rect {
                transition: all var(--transition-duration);
            }

            &:hover {
                color: var(--hover-yell-color);
        
                & svg rect {
                    fill: var(--hover-yell-color);
                }
            }
        }
    }

    &__phone {
        margin-left: auto;

        &-icon {
            display: none;
        }
    }

    &__search {
        margin-left: 156px;

        @media (max-width: 1540px) {
            margin-left: 30px;
        }

        &_form {
            background: var(--bg-color);
            border-radius: 30px;
            
            transition: all var(--transition-duration);
            justify-content: flex-end;
            position: relative;

            &.active {

                & .search {
                    &-label {
                        width: 260px;
                        visibility: visible;
                        background: var(--bg-color);
                        border-radius: 30px;
                        padding-left: 30px;
                    }

                    &-input {
                        padding: 8px 0;
                        width: 100%;
                        visibility: visible;
                    }
                }
            }
        }

        & .search {

            &-btn {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--bg-color);
                cursor: pointer;
                transition: all var(--transition-duration);
                position: relative;

                & svg circle,
                & svg path {
                    transition: all var(--transition-duration);
                }

                @media (max-width: 1500px) {
                    width: 50px;
                    height: 50px;
                }

                &:hover {

                    & svg circle,
                    & svg path {
                        stroke: var(--hover-yell-color);
                    }
                }
            }

            &-label {
                width: 0;
                max-width: 260px;
                height: 60px;
                display: flex;
                align-items: center;
                visibility: hidden;
                position: absolute;
                transition: all var(--transition-duration);

                @media (max-width: 1500px) {
                    height: 50px;
                }
            }

            &-input {
                font-weight: 600;
                font-size: 16px;
                line-height: 120%;
                color: var(--white-color);
                width: 0;
                max-width: 200px;
                visibility: hidden;
                transition: all var(--transition-duration);

                &::placeholder {
                    color: var(--light-gray-color);
                }
            }
        }

        &_form {
            display: flex;
            align-items: center;
        }

    }

    &__recall {
        
        @media (max-width: 1500px) {
            padding: 16px 30px;
        }  
    }

    & .burger-menu {
        display: none;
        cursor: pointer;
        margin-right: 30px;
        & svg rect {
            transition: all var(--transition-duration);
        }

        &:hover {
            & svg rect {
                fill: var(--hover-yell-color);
            }
        }
    }
}

.footer {
    padding: 100px 45px;

    &__menu {
        &_col {
            width: 25%;
        }

        &_title {
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
            color: var(--white-color);
            margin-bottom: 32px;
        }

        &_list {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            max-height: 260px;
        }

        &_item {
            margin-bottom: 10px;

            & a {
                font-weight: 500;
                font-size: 14px;
                line-height: 120%;
                color: var(--light-text-color);
                transition: all var(--transition-duration);

                &:hover {
                    color: var(--hover-yell-color);
                }
            }

        }

        &_more {
            & a {
                font-weight: 500;
                font-size: 14px;
                line-height: 120%;
                color: var(--main-yell-color);
                transition: all var(--transition-duration);

                &:hover {
                    color: var(--hover-yell-color);
                }
            }
        }

    }
}

.copyrait {
    padding: 35px 45px 40px;
    background: var(--dark-color);

    & .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 50px;
    }

    &__text {
        display: flex;
        align-items: flex-start;
        gap: 45px;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: var(--light-text-color);
        width: 65%;
    }

    &__links {
        width: 25%;
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    &__link {
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: var(--light-text-color);
        transition: all var(--transition-duration);

        &:hover {
            color: var(--hover-yell-color);
        }
    }
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(#000, 0.3);
    backdrop-filter: blur(3px);
    z-index: 100;
    transition: all 0.2s;
    visibility: hidden;
    opacity: 0;

    &.show {
        visibility: visible;
        opacity: 1;
        
        & .popup__menu {
            transform: translateX(0);

            &_item {

                &.active {
                    & > .popup__submenu {
                        visibility: visible;
                        // transform: translateX(0);
                        width: 100%;
    
                        & .popup__submenu_nav {
                            padding: 80px 19px 80px 70px;
                        }

                        &.brands {
                            & .popup__submenu_nav {
                                padding: 45px 20px 50px 40px;
                            }
                        }
                        
                    }
                }
            }
        }

        
    }

    &_close {
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        background: var(--bg-color);
        transition: all var(--transition-duration);
        position: absolute;
        top: 55px;
        left: 28px;
        z-index: inherit;

        & svg {
            pointer-events: none;
        }

        &:hover {
            background: #585858;
        }
    }

    &__menu {
        position: absolute;
        top: 0;
        right: auto;
        left: 0;
        height: 100%;
        background: var(--dark-color);
        max-width: 495px;
        will-change: transform;
        transform: translateX(-100%);
        transition: all 0.8s;

        &_title {
            padding: 55px 100px 65px 110px;
            font-family: var(--title-font);
            font-size: 46px;
            line-height: 120%;
            text-transform: uppercase;
            color: var(--white-color);

            & span {
                color: var(--main-yell-color);
            }
        }

        &_list {
            padding: 70px 70px 65px 110px;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        &_item {
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 5px 0;

            &:hover, &.active {
                & > a {
                    color: var(--main-yell-color);
                }

                & .popup__more-btn {
                    opacity: 1;
                }
            }
        }

        &_link {
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
            color: var(--white-color);
            transition: all var(--transition-duration) ease-in-out;

            &:hover {
                
            }
        }
    }

    &__more-btn {
        width: 27px;
        height: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: var(--main-yell-color);
        cursor: pointer;
        opacity: 0;
        transition: all 0.1s;
        will-change: transform;

        & svg, & span {
            pointer-events: none;
        }
    }

    &__submenu {
        position: absolute;
        height: 100%;
        width: 0;
        overflow: hidden;
        max-width: 485px;
        top: 0;
        left: 100%;
        right: auto;
        display: flex;
        flex-direction: column;
        visibility: hidden;
        will-change: transform;
        transition: all 0.8s;

        &_header {
            position: relative;
            height: 100%;
            max-height: 286px;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &-filter {
                position: absolute;
                width: 100%;
                height: 100%;
                
                top: 0;
                left: 0;
                background: rgba(#252B31, 0.5);
            }
        }

        &_nav {
            width: 100%;
            height: 100%;
            overflow: hidden;
            background: var(--bg-color);
            flex-grow: 1;
            padding: 80px 0px 80px 0px;
            transition: all 0.8s;
        }

        &_list {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                background-color: #252B31;
                width: 4px;
            }
            
            &::-webkit-scrollbar-thumb {
                background-color: rgba(217, 217, 217, 0.34);
                border-radius: 2px;
                box-shadow: inset 1px 1px 10px #f3faf7;
            }
            
            &::-webkit-scrollbar-thumb:hover {
                background-color: rgba(217, 217, 217, 0.8);
            }
        }

        &_item {
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 5px 0;

            &:hover, &.active {
                & > a {
                    color: var(--main-yell-color);
                }

                & .popup__more-btn {
                    transform: scale(1);
                }
            }
        }

        &_link {
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
            color: var(--white-color);
            transition: all var(--transition-duration);

            &.brand {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 25px;
                background: var(--dark-gray-color);
                padding-top: 25px;
                padding-bottom: 20px;
                font-weight: 600;
                font-size: 14px;
                line-height: 120%;
                height: 100%;

                & span {
                    margin-top: auto;
                }

                &:hover {
                    transform: scale(1.02);
                    background: var(--dark-color);
                }
            }
        }

        &_brands {
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
        }

        &_brand a {
            font-weight: 600;
            font-size: 14px;
            line-height: 120%;
            color: var(--light-text-color);
        }

        &.brands {
            & .popup {
                &__submenu {

                    &_nav {
                        padding: 45px 0 50px 0;
                    }
                    &_cards {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-gap: 12px;
                        padding-right: 20px;
                    }
                }
            }
        }
    }
    &__sublist {
        padding-left: 18px;
        width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
    }

    &__sublink {
        font-weight: 600;
            font-size: 16px;
            line-height: 120%;
            transition: all var(--transition-duration);
        color: var(--light-text-color);

        &:hover {
            color: var(--main-yell-color);
        }
    }
}

.mobile {
    position: fixed;
    width: 100%;
    height: 100%;   
    top: 0;
    left: 0;
    background: rgba(#000, 0.3);
    backdrop-filter: blur(3px);
    z-index: 100;
    transition: all 0.2s;
    visibility: hidden;
    opacity: 0;
    
    &.show {
        visibility: visible;
        opacity: 1;

        & .mobile__menu {
            transform: translateX(0);
        }
    }

    &_close {
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        background: var(--bg-color);
        transition: all var(--transition-duration);
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: inherit;

        & svg {
            pointer-events: none;
        }

        &:hover {
            background: #585858;
        }
    }

    &__menu {
        position: absolute;
        width: 90%;
        max-width: 450px;
        height: 100%;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        background: var(--dark-color);
        will-change: transform;
        transition: all 0.8s;
        display: flex;
        flex-direction: column;

        &_header {
            padding: 30px 30px 40px 50px;
        }

        &_content {
            padding: 30px 30px 40px 50px;
            flex-grow: 1;
            background: var(--bg-color);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
        }

        &_footer {
            padding: 30px 30px 30px 50px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &_list {
            display: flex;
            flex-direction: column;
            gap: 30px;

            &.active {
                &>.mobile__menu_sublist {
                    transform: translateX(-100%);
                }
            }
        }

        &_sublist {
            position: absolute;
            visibility: 100%;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            padding: 30px 30px 40px 50px;
            background: var(--bg-color);
            transform: translateX(-100%);
            will-change: transform;
            transition: all 0.4s;
            

            &-close {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                cursor: pointer;
                background: var(--dark-color);
                transition: all var(--transition-duration);
                position: absolute;
                top: 10px;
                right: 20px;
                z-index: inherit;

                & svg {
                    pointer-events: none;
                }

                &:hover {
                    background: var(--dark-gray-color);
                }
            }
        }

        &_item {
            display: flex;
            align-items: center;
            gap: 30px;
            padding: 5px 0;

            &:hover, &.active {
                & > a {
                    color: var(--main-yell-color);
                }
            }
            &.active {

                & > .mobile__menu_sublist {
                    transform: translateX(0);
                }
            }
        }

        &_link {
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
            color: var(--white-color);
            transition: all var(--transition-duration) ease-in-out;

            &:hover {
                
            }
        }
    }

    &__contacts {

        &_addr-title {
            font-size: 14px;
            color: var(--light-text-color);
            margin-bottom: 8px;
        }

        &_addr-text {
            font-size: 16px;
            line-height: 120%;
            font-weight: 600;
            color: var(--white-color);
        }

        &_items {
            gap: 10px;
        }

        &_item {
            width: 100%;
        }

        &_link {
            font-size: 20px;
            line-height: 120%;
            font-weight: 600;
            color: var(--white-color);
        }
    }

    &__submenu {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: var(--bg-color);
        transform: translateX(-100%);
        will-change: transform;
        transition: all 0.4s;

        &_nav {
            width: 100%;
            height: 100%;
            padding: 60px 30px 30px 50px;
            overflow-y: auto;
        }

        &-close {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                cursor: pointer;
                background: var(--dark-color);
                transition: all var(--transition-duration);
                position: absolute;
                top: 10px;
                right: 20px;
                z-index: inherit;

                & svg {
                    pointer-events: none;
                }

                &:hover {
                    background: var(--dark-gray-color);
                }
            
        }
        
    }

    &__recall {
        margin-top: auto;
    }

    &__scls {
        margin-top: 10px;
        &_list {
            display: flex; 
            align-items: center; 
            gap: 20px;
        }

        &_item {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: var(--bg-color);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all var(--transition-duration);

            & svg path {
                transition: all var(--transition-duration);
            }

            &:hover {
                background: var(--dark-gray-color);

                & svg path {
                    fill: var(--hover-yell-color);
                }
            }
        }
    }

    &__more-btn {
        width: 27px;
        height: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: var(--white-color);
        cursor: pointer;
        opacity: 1;
        transition: all 0.1s;
        will-change: transform;

        & svg, & span {
            pointer-events: none;
        }

        &:hover {
            background: var(--hover-yell-color);
        }
    }

    &__search {
        padding: 0px 30px 40px 50px;

        &_form {
            background: var(--bg-color);
            border-radius: 30px;
            
            transition: all var(--transition-duration);
            justify-content: flex-end;
            position: relative;
        }

        & .search {

            &-btn {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--bg-color);
                cursor: pointer;
                transition: all var(--transition-duration);
                position: relative;

                & svg circle,
                & svg path {
                    transition: all var(--transition-duration);
                }

                @media (max-width: 1500px) {
                    width: 50px;
                    height: 50px;
                }

                &:hover {

                    & svg circle,
                    & svg path {
                        stroke: var(--hover-yell-color);
                    }
                }
            }

            &-label {
                width: 100%;
                background: var(--bg-color);
                        border-radius: 30px;
                        padding-left: 30px;
                height: 50px;
                display: flex;
                align-items: center;
                visibility: visible;
                position: absolute;
                transition: all var(--transition-duration);
            }

            &-input {
                font-weight: 600;
                font-size: 16px;
                line-height: 120%;
                color: var(--white-color);
                width: 100%;
                padding: 8px 0;
                transition: all var(--transition-duration);

                &::placeholder {
                    color: var(--light-gray-color);
                }
            }
        }

        &_form {
            display: flex;
            align-items: center;
        }

    }
}